.page-heading {
    background-image: url('../../images/page-heading-bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}
.page-heading .category{
    background-color: #fff;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 30px;
}
.page-heading h3{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}