.Property .page-heading{
    margin-bottom: 120px;
}
.Property .container{
    margin: 0 15px 0 15px;
}
.property-container{
    display: flex;
}
.Property .property-container .left-side{
    max-width: 70%;
    margin-right: 50px;
    padding: 0 12px;
}
.Property .property-container .left-side img{
    width: 100%;
}
.Property .left-side .content{
    text-align: left;
}
.Property .left-side .content .category{
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 40px;
}
.Property .left-side .main-content h4{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.Property .left-side p{
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.Property .left-side span{
    color: blue;
    cursor: pointer;
}
.Property .right-side{
    width: 30%;
}
.Property .table{
    width: 100%;
}
