.video-section{
    background-image: url('../../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
}
.video-section .section-heading{
    text-align: center !important;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}
.video-section .section-heading h2{
    color: #fff;
    max-width: 330px;
}
.video{
    width: 100%;
    padding: 0;
    position: absolute;
    margin-top: -240px;
}
.video img{
    border-radius: 10px;
    width: 100%;
}
.video a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-26px, -26px);
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 52px;
    color: #f35525;
    outline: 15px solid rgba(254, 85, 37, 0.5);
    font-size: 25px;
}